services:
  # 1. Infrastructure: Service-Registry
  discovery-service:
    image: hemantbarole/micro-service-registry:latest
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    build:
      context: ./Backend/ServiceRegistry
      dockerfile: Dockerfile
    deploy:
      resources:
        limits:
          memory: 512M
    ports:
      - "8761:8761"
    environment:
      - spring_profiles_active=docker
      - SPRING_MAIN_LAZY_INITIALIZATION=true
      - JAVA_TOOL_OPTIONS=-XX:+UseSerialGC -Xss512k -XX:MaxRAMPercentage=75.0 -XX:+TieredCompilation -XX:TieredStopAtLevel=1
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8761/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 180s
    networks:
      - rating-net
  
  # 2. Infrastructure: Config-Server
  config-server:
    image: hemantbarole/micro-config-server:latest
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    build:
      context: ./Backend/ConfigServer
      dockerfile: Dockerfile
    deploy:
      resources:
        limits:
          memory: 512M
    ports:
      - "8085:8085"
    environment:
      - spring_profiles_active=docker
      - spring_cloud_config_server_git_uri=https://github.com/Hemant15-Bl/Config
      - eureka_client_serviceUrl_defaultZone=http://discovery-service:8761/eureka/
      - eureka_instance_hostname=config-server
      - SPRING_MAIN_LAZY_INITIALIZATION=true
      - JAVA_TOOL_OPTIONS=-XX:+UseSerialGC -Xss512k -XX:MaxRAMPercentage=75.0 -XX:+TieredCompilation -XX:TieredStopAtLevel=1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8085/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 300s
    depends_on:
      discovery-service:
        condition: service_healthy
    networks:
      - rating-net
  
  # 3. Infrastructure: Redis (Pre-built image, no Dockerfile needed)
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - rating-net

  # 4. OAuth2.O Authorization Server: Auth-Server
  #  AuthDB
  auth-db:
    image: postgres:15-alpine
    container_name: auth-db
    environment:
      POSTGRES_DB: authDB
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - auth-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d authDB"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - rating-net

  auth-service:
    image: hemantbarole/micro-auth-server:latest
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    build:
      context: ./Backend/AuthServer
      dockerfile: Dockerfile
    deploy:
      resources:
        limits:
          memory: 512M  # Strict cap: Auth won't take more than 512MB
    ports:
      - "8086:8086"
    environment:
      - spring_profiles_active=docker
      # setting database env.
      - SPRING_DATASOURCE_URL=jdbc:postgresql://auth-db:5432/authDB
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JPA_SHOW_SQL=true
      - PROPERTIES_HIBERNATE_TEMP_USE_JDBC_METADATA_DEFAULTS=false
      # setting eureka and config server env.
      - eureka_client_serviceUrl_defaultZone=http://discovery-service:8761/eureka/
      - spring_config_import=optional:configserver:http://config-server:8085
      - spring_cloud_config_fail=false
      - spring_cloud_config_retry_max-attempts=10
      # setting oauth2.O env.
      - SPRING_SECURITY_OAUTH2_AUTHORIZATIONSERVER_ISSUER=http://auth-service:8086

      - JAVA_TOOL_OPTIONS=-XX:+UseSerialGC -Xss512k -XX:MaxRAMPercentage=75.0 -XX:+TieredCompilation -XX:TieredStopAtLevel=1 # Tells Java to stay small
      - SPRING_MAIN_LAZY_INITIALIZATION=true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8086/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 180s
    depends_on:
      auth-db:
        condition: service_healthy
      discovery-service:
        condition: service_healthy
      config-server:
        condition: service_healthy
    networks:
      - rating-net
  
  # 5. Core Service: APIGateway-Service
  apigateway-service:
    image: hemantbarole/micro-apigateway-service:latest
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    build:
      context: ./Backend/APIGateway
      dockerfile: Dockerfile
    deploy:
      resources:
        limits:
          memory: 512M
    ports:
      - "8084:8084"
    environment:
      - spring_profiles_active=docker
      # connect with eureka
      - eureka_client_serviceUrl_defaultZone=http://discovery-service:8761/eureka/
      # redis config.
      - spring_data_redis_host=redis
      - spring_data_redis_port=6379
      # connect with config-server
      - spring_config_import=optional:configserver:http://config-server:8085
      - spring_cloud_config_fail=false
      - spring_cloud_config_retry_max=10
      # gateway env. setting while communicate with service-to-service
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://auth-service:8086
      - SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_MY_AUTH_SERVER_ISSUER_URI=http://auth-service:8086

      # gateway env. setting while browser
      - SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_MY_AUTH_SERVER_AUTHORIZATION_URI=http://localhost:8086/oauth2/authorize
      - SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_MY_AUTH_SERVER_TOKEN_URI=http://auth-service:8086/oauth2/token
      - SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_MY_AUTH_SERVER_JWK_SET_URI=http://auth-service:8086/oauth2/jwks

      - SPRING_MAIN_LAZY_INITIALIZATION=true
      - JAVA_TOOL_OPTIONS=-XX:+UseSerialGC -Xss512k -XX:MaxRAMPercentage=75.0 -XX:+TieredCompilation -XX:TieredStopAtLevel=1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8084/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 300s
    depends_on:
      redis:
        condition: service_healthy
      discovery-service:
        condition: service_healthy
      auth-service:
        condition: service_healthy
      config-server:
        condition: service_started
    # extra-hosts:
    #   - "localhost:host-gateway"
    networks:
      - rating-net
  
  # 6. Business Logic: Other-Service
  # --------------- Hotel-Service --------------------------
  hotel-db:
    image: postgres:15-alpine
    container_name: hotel-db
    environment:
      POSTGRES_DB: hotelDB
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5433:5432"
    volumes:
      - hotel-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d hotelDB"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - rating-net
  
  hotel-service:
    image: hemantbarole/micro-hotel-service:latest
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    build:
      context: ./Backend/HotelServices
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    volumes:
      # - ./Backend/HotelServices/src/main/resources/static/images:/app/images
      - hotel-images:/app/images
    deploy:
      resources:
        limits:
          memory: 512M
    environment:
      # database connection
      - SPRING_DATASOURCE_URL=jdbc:postgresql://hotel-db:5432/hotelDB
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JPA_SHOW_SQL=true
      # setting eureka env.
      - spring_profiles_active=docker
      - eureka_client_serviceUrl_defaultZone=http://discovery-service:8761/eureka/
      # setting config-server env.
      - spring_config_import=optional:configserver:http://config-server:8085
      - spring_cloud_config_fail=false
      - spring_cloud_config_retry_max=10

      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://auth-service:8086
      - PROJECT_IMAGE=/app/images
      - SPRING_MAIN_LAZY_INITIALIZATION=true
      - JAVA_TOOL_OPTIONS=-XX:+UseSerialGC -Xss512k -XX:MaxRAMPercentage=75.0 -XX:+TieredCompilation -XX:TieredStopAtLevel=1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 180s
    depends_on:
      hotel-db:
        condition: service_healthy
      discovery-service:
        condition: service_healthy
      # auth-service:
      #   condition: service_healthy
      config-server:
        condition: service_healthy
    networks:
      - rating-net
  # --------------- Hotel End --------------------------

  # --------------- Rating-Service --------------------------
  rating-db:
    image: mongo:6.0
    container_name: rating-db
    environment:
      MONGO_INITDB_DATABASE: ratingDB
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: qwerty
    ports:
      - "27017:27017"
    volumes:
      - rating-db-data:/data/db
    healthcheck:
      test: ["CMD-SHELL", "echo 'db.runCommand(\"ping\").ok' | mongosh localhost:27017/test --quiet"]
      interval: 20s
      timeout: 10s
      retries: 5
    networks:
      - rating-net
  
  rating-service:
    image: hemantbarole/micro-rating-service:latest
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    build:
      context: ./Backend/RatingServices
      dockerfile: Dockerfile
    deploy:
      resources:
        limits:
          memory: 512M
    ports:
      - "8083:8083"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://admin:qwerty@rating-db:27017/ratingDB?authSource=admin
      # setting eureka env.
      - spring_profiles_active=docker
      - eureka_client_serviceUrl_defaultZone=http://discovery-service:8761/eureka/
      # setting config-server env.
      - spring_config_import=optional:configserver:http://config-server:8085
      - spring_cloud_config_fail=false
      - spring_cloud_config_retry_max=10

      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://auth-service:8086
      - SPRING_MAIN_LAZY_INITIALIZATION=true
      - JAVA_TOOL_OPTIONS=-XX:+UseSerialGC -Xss512k -XX:MaxRAMPercentage=75.0 -XX:+TieredCompilation -XX:TieredStopAtLevel=1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8083/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 180s
    depends_on:
      rating-db:
        condition: service_healthy
      discovery-service:
        condition: service_healthy
      # auth-service:
      #   condition: service_healthy
      config-server:
        condition: service_healthy
    networks:
      - rating-net
  # --------------- Rating End --------------------------

  # --------------- User-Service --------------------------
  user-db:
    image: mysql:8.0
    container_name: user-db
    environment:
      MYSQL_DATABASE: userDB
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: userRoot
      MYSQL_PASSWORD: userPass
    ports:
      - "3308:3306"
    volumes:
      - user-db-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - rating-net
  
  user-service:
    image: hemantbarole/micro-user-service:latest
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    build:
      context: ./Backend/UserService
      dockerfile: Dockerfile
    deploy:
      resources:
        limits:
          memory: 512M
    ports:
      - "8081:8081"
    volumes:
      - user-images:/app/images
      # - ./Backend/UserService/src/main/resources/static/images:/app/images
    environment:
      # database connection
      - SPRING_DATASOURCE_URL=jdbc:mysql://user-db:3306/userDB
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JPA_SHOW_SQL=true
      # setting eureka env.
      - spring_profiles_active=docker
      - eureka_client_serviceUrl_defaultZone=http://discovery-service:8761/eureka/
      # setting config-server env.
      - spring_config_import=optional:configserver:http://config-server:8085
      - spring_cloud_config_fail=false
      - spring_cloud_config_retry_max=10

      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://auth-service:8086
      # Tell Spring Boot where to look for images inside the container
      - PROJECT_IMAGE=/app/images
      - SPRING_MAIN_LAZY_INITIALIZATION=true
      - JAVA_TOOL_OPTIONS=-XX:+UseSerialGC -Xss512k -XX:MaxRAMPercentage=75.0 -XX:+TieredCompilation -XX:TieredStopAtLevel=1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 180s
    depends_on:
      user-db:
        condition: service_healthy
      discovery-service:
        condition: service_healthy
      # auth-service:
      #   condition: service_healthy
      config-server:
        condition: service_healthy
    networks:
      - rating-net
  # --------------- User End --------------------------

  
  # 7. Frontend: React Application
  frontend:
    image: hemantbarole/micro-frontend:latest
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80"      # Map browser port 5173 to Nginx port 80
    environment:
      - REACT_APP_API_BASE_URL=http://localhost:8084  # Points to API Gateway
    depends_on:
      apigateway-service:
        condition: service_healthy
    networks:
      - rating-net
  
  # 8. WatchTower: Automated Deployment
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=300
      - WATCHTOWER_LABEL_ENABLE=true
    restart: always
    networks:
      - rating-net

  # This tell docker to create persistent storage on host machine
volumes:
  auth-db-data:
  hotel-db-data:
  rating-db-data:
  user-db-data:
  redis-data:
  hotel-images:
  user-images:

networks:
  rating-net:
    driver: bridge