spring:
  application:
    name: HOTEL-SERVICE
  config:
    import: optional:configserver:http://localhost:8085

  datasource:
    url: jdbc:postgresql://localhost:5432/Spring_micro
    username: postgres
    password: root    

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8086

server:
  port: 8082

project:
  image: "C:/Users/hp/git/repository-micro/Backend/HotelServices/src/main/resources/static/images"

#management:
#  endpoints:
#    web:
#      exposure:
#        include: "*"
#  endpoint:
#    health:
#      show-details: always