spring:
  application:
    name: USER-SERVICE
#  main:
#    allow-bean-definition-overriding: true


  datasource:
    url: jdbc:mysql://localhost:3306/Spring_Micro
    username: root
    password: root

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true


  config:
    import: optional:configserver:http://localhost:8085

  cloud:
    openfeign:
      circuitbreaker:
        enabled: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8086

server:
  port: 8081

#management:  
#  endpoints:
#    web:
#      exposure:
#        include: "*"
#  endpoint:
#    health:
#      show-details: always

resilience4j:
  circuitbreaker:
    configs:
      default:
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 5s
        sliding-window-type: count-based
        register-health-indicator: true
        minimum-number-of-calls: 5
        permitted-number-of-calls-in-half-open-state: 3

project:
#  image: images/     #when run locally
  image: ${PROJECT_IMAGE:/app/images}